<p style="color: green"><%= notice %></p>

<% content_for :title, "Articles" %>


<%= cl_image_tag("dkfmmy5iid9aqya9cuv5", width: 300, height: 200, alt: "San Francisco bridge") %>

<h1>Articles</h1>

<div id="articles">
  <% @articles.each do |article| %>
    <%= render article %>
    <p>
      <%= link_to "Show this article", article %>
    </p>
  <% end %>
</div>

<%= link_to "New article", new_article_path %>
